[submodule ".\\XRengine\\3rdparty\\spdlog"]
	path = .\\XRengine\\3rdparty\\spdlog
	url = https://github.com/gabime/spdlog.git
[submodule ".\\XRengine\\3rdparty\\glfw"]
	path = .\\XRengine\\3rdparty\\glfw
	url = https://github.com/TheCherno/glfw.git
[submodule ".\\XRengine\\3rdparty\\ImGui"]
	path = .\\XRengine\\3rdparty\\ImGui
	url = https://github.com/TheCherno/imgui.git
[submodule ".\\XRengine\\3rdparty\\glm"]
	path = .\\XRengine\\3rdparty\\glm
	url = https://github.com/g-truc/glm.git
[submodule ".\\XRengine\\3rdparty\\tinyobjloader"]
	path = .\\XRengine\\3rdparty\\tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git

